{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{% static 'css/sweetalert2.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/toastr.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_853610_5zzhxkyd2zg.css">
    <link href="{% static 'css/bootstrap-select.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap-switch.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.css' %}" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/site.css' %}">
    <title>Hello, world!</title>
  </head>
  <body>

  <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
  <div class="container">
  <a class="navbar-brand" href="{% url 'recon:index' %}"><i class="iconfont icon-anonymous_after"></i>Sec管理系统</a> 
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'recon:dsou' %}">搜索</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href={% url 'src:src' gs=1 %}>国内SRC</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">国外SRC</a>
    </li>
  </ul>
   </div> 
    <a href="{% url 'recon:logout' %}" data-toggle="tooltip" title="注销">
    <i class="iconfont icon-logout" style="color:black"></i>
    </a>
   <div class="clearfix"></div> 
</nav>

  
    {% block content %}

    {% endblock %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'js/sweetalert2.min.js' %}"></script>
    <script src="{% static 'js/toastr.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'js/defaults-zh_CN.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-switch.min.js' %}">
    <script type="text/JavaScript">
        $.ajaxSetup({headers: {"X-CSRFToken": '{{ csrf_token }}'}})
    </script>
    {% block js%}
    {% endblock %}
  </body>
</html>
