{% load static %}
{% load temphelp %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.css">
  </head>
  <body style="background:url({% static "img/hack.jpg" %}) no-repeat fixed;background-size:100% 100%">
  
<div class="container">
<div class="row" style="margin-top: 200px;">
 <div class="col-md-6 offset-md-3">
   {% if form.errors %}  
    <div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ form.errors | first_error }}</div>
   {% endif %}
  <div class="card">
   <div class="card-header">
       <div class="shead" style="border-buttom: 1px dotted green !important;"> 
    <h1 class="text-center" style="border-buttom: 1px dotted red !important">X系统</h1>
       </div>
   </div>
     <div class="card-body">
      <form method="post">
       {% for line in form %}
       <div class="form-group">
             {{ line | css:"form-control" | placeholder }}
       </div>
         {% endfor %}
        <button type="submit" class="btn btn-primary" value="登录">登录</button>
      {% csrf_token %}
      </form>
     </div>
  </div>
 </div>
</div>
</div>
 
   <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://cdn.bootcss.com/jquery/1.12.3/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.js"></script>
  </body>
</html>
