{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
<div class="row" style="margin-top: 300px;">
<div class="col-md-6 offset-md-3">

<form method="post" onsubmit="return false" name="recon" id="recon">
<div class="input-group">
 <div class="input-group-prepend">
  <select name="seatype" class="form-control">
   <option value="1">域名</option>
   <option value="2">目录</option>
  </select>
 </div>
<input type="text" class="form-control" name="keyword" id="keyword" placeholder="搜索">
<span class="input-group-append">
<button class="btn btn-primary" type="button" id="sub">嗖</button>
</span>
{% csrf_token %}
</div>
</form>
</div>
</div>
     <div class="col-md-6 offset-md-3" style="margin-top:30px"><p class="text-center dtxt"></p></div>
</div>
{% endblock %}
{% block js %}
<script>

$("#sub").click(function(){
     console.log(document.getElementById("keyword").value);
     $(".dtxt").html("")
     var kw = document.getElementById("keyword").value; 
     var p = /^\w+(\.\w{2,4}){1,2}$/;
     if(kw == ''){
        swal("域名不能为空")

     }
     else if(!p.test(kw)){
        swal("域名输入不正确")
     }
     else {
         console.log("test")
         $.ajax({
             url: "{% url 'recon:domain' %}",
             type: 'POST',
             data: $('#recon').serialize(),
             beforeSend:function(){
                $(".dtxt").html('<span>后台查询中...</span>');
             },
             success: function(ret){
                 toastr.success("查询完成!");
                 v = JSON.parse(ret);
                 var hre = "<p>";
                 for(var i=0;i < v["data"].length;i++){
                      hre += v["data"][i] + "</p><hr />";
                   };
                 $(".dtxt").html(hre)
                
             }

       })
     }

})


</script>
{% endblock %}
